
numpy
easydict

# opencv-python  # For some function, please install it by yourself if needed
# torch>=1.5.0  # For some function, please install it by yourself if needed
# pillow  # For some function, please install it by yourself if needed
